<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공통 템플릿</title>
</head>
<body class="hold-transition sidebar-mini">

  <div class="wrapper">
    <header>헤더 삽입부</header>
    <aside>왼쪽 사이드바 삽입부</aside>

    <!-- Main content -->
    <main>메인 컨텐츠 영역</main>
    <!-- /.content -->

    <aside>오른쪽 사이드바 삽입부</aside>
    <footer>푸터 삽입부</footer>
  </div>

  <!-- Required scripts-->
  <script><!--공통 스크립트 삽입부--></script>

  <!-- 페이지 전용 스크립트 -->
</body>
</html>